<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="h3 fw-bold text-danger">Add Contact</div>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia in
        deleniti recusandae iste? Consequatur dicta aperiam corporis beatae, qui
        a quas ut rerum rem possimus nulla quos soluta voluptas impedit?
      </p>
    </div>
  </div>
</div>

<!-- Contact-Form -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="submitUpdate()">
        <div class="mt-2">
          <input
            type="text"
            [(ngModel)]="contact.name"
            [value]="contact.name"
            name="name"
            placeholder="Name"
            required
            class="form-control"
          />
        </div>
        <div class="mt-2">
          <input
            type="text"
            [(ngModel)]="contact.photo"
            [value]="contact.photo"
            name="photo"
            placeholder="Photo Url"
            class="form-control"
          />
        </div>
        <div class="mt-2">
          <input
            type="text"
            placeholder="Email"
            [(ngModel)]="contact.email"
            name="email"
            class="form-control"
          />
        </div>
        <div class="mt-2">
          <input
            type="text"
            placeholder="Mobile"
            [(ngModel)]="contact.mobile"
            name="mobile"
            class="form-control"
          />
        </div>
        <div class="mt-2">
          <input
            type="text"
            placeholder="Company"
            [(ngModel)]="contact.company"
            name="company"
            class="form-control"
          />
        </div>
        <div class="mt-2">
          <select
            [(ngModel)]="contact.groupId"
            name="groupId"
            class="form-control"
            required
            *ngIf="groups.length > 0"
          >
            <option [value]="group.id" *ngFor="let group of groups">
              {{ group.name }}
            </option>
          </select>
        </div>
        <div class="mt-2">
          <input class="btn btn-danger" type="submit" value="update" />
          <a routerLink="/" class="btn btn-dark ms-2">close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img [src]="contact.photo" class="add-image" />
    </div>
  </div>
</div>
